<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.AdroidApps.TestActivity"
          android:versionCode="1"
          android:versionNumber="0.0.1">
    <application android:name="MyApplicationName"
                 android:icon="@drawable/ic_launcher"
                 android:theme="@style/apptheme">
        <provider
            android:name="TodoProvider"
            android:authorities="com.example.testactivity"
            android:exported="true" />
        <activity android:name=".TestActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityNumber2">
        </activity>
        <activity android:name=".FragmentTest" >
        </activity>
    </application>
</manifest>